<% include ../views/header.ejs %>
<link rel="stylesheet" href="profile.css">
<form action="/profile" method="post">

    <br/><h1><font color="#fffaf0">Welcome to your Profile..!</font> </h1>
    <br/>
        <h3><div class="title">ID:</div><div class="fetch"><%= user.id %></div></h3><br/>
    <h3><div class="title">Username:</div><div class="fetch"><%= user.username %></div></h3><br/>

        <h3><div class="title">Name:<div class="fetch"><%= user.displayName %></div></h3><br/>
            <h3><div class="title">Score:</div><div class="fetch"><%= user.score %></div></h3><br/>
                <h3><div class="title">Creation Date:</div><div class="fetch"><%= user.creationDate%></div></h3><br/>
        <% if (user.emails) { %>
                    <h3><div class="title">Email:</div><div class="fetch"><%= user.emails[0].value %></div></h3><br/>



    <% } %>
    <a href="editProfile"> Edit Profile </a>
    <a href="changePassword"> Change Password </a><br/>
</form>
<% include ../views/footer.ejs %>